$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "./flatly.min.css";


// @import "../bower_components/angular-flash-alert/dist/angular-flash.css";

html {
  font-family: Helvetica, Verdana, sans-serif;
}

.nav, .pagination, .carousel, .panel-title a, a { 
  cursor: pointer; 
}

h1 {
  margin: 0;

  .navbar-brand {
    font-size: 0.75em;
    // padding: 0.5em;
    // margin-bottom: 0.25em; 
  }
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &#park-list {
    // -moz-column-count: 2;
    // -webkit-column-count: 2;
    // column-count: 2;
  }

  li {
    font: 200 1em/2.3 Helvetica, Verdana, sans-serif;
    min-height: 2.88em;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border: none;
    }

    & > a, & > p {
      color: #246;
      display: block;
      width: 100%;

      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition:    font-size 0.3s ease, background-color 0.3s ease;
      -o-transition:      font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition:     font-size 0.3s ease, background-color 0.3s ease;
      transition:         font-size 0.3s ease, background-color 0.3s ease;

      &:hover {
        color: #18bc9c;
        text-decoration: none;
        font-size: 1.2em;
        background-color: #f6f6f6;
      }
    }
  }
}

.park-center {
  a {
    display: block;
    margin-bottom: 10px; 
  }

  padding-bottom: 1em;
}

input#search-box {
  margin-top: 5px;
  width: 50%;
  opacity: 0.9;
}

#autocomplete {
  margin-bottom: 20px;
}

html, body, #map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.glyphicon-ok {
  color: #669834;
}

.glyphicon-remove {
  color: #E63125;
}

.panel-body {
  max-height: 26em;
  overflow: scroll;
}

.angular-google-map-container {
  height: 35em;
}

.full-height {
  height: 100%
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  // .container {
  //   max-width: 730px;
  // }

}
