$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// @import "../bower_components/angular-flash-alert/dist/angular-flash.css";

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

h1 {
  margin: 0;

  .navbar-brand {
    font-size: 0.75em;
    // padding: 0.5em;
    // margin-bottom: 0.25em; 
  }
}

input#search-box {
  margin-top: 5px;
  width: 50%;
  opacity: 0.9;
}

html, body, #map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.angular-google-map-container {
  height: 400px;
}

.full-height {
  height: 100%
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  // .container {
  //   max-width: 730px;
  // }

}
