$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "./flatly.min.css";


html {
  font-family: Helvetica, Verdana, sans-serif;
}

.nav, .pagination, .carousel, .panel-title a, a { 
  cursor: pointer; 
}

.panel-title a {
  &:focus {
    outline: none;
  }
}

#flash {
  position: absolute;
  z-index: 100;
  right: 5px;
  top: 3px;
  position: fixed;
}

#mobile-nav {
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between; 
  }
}

h1 {
  margin: 0;

  .navbar-brand {
    font-size: 0.75em;
    color: #fff;

    &:hover, &:focus {
      color: #fff !important;
    }
  }
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.small-font {
  font-size: 0.75em;
}

p {
  word-wrap: break-word;
}

.font-p-sm {
  font-size: 0.9em
}

th {
  white-space: nowrap;
}

.fa-pad-right {
  padding-left: 5px;
}

.text-green {
  color: #3C763D;
}

.text-total-results {
  margin: -15px 0 0;
}

.course-details {
  max-height: 40em;
  overflow: auto;
}

.img-container {
  position: relative;
  height: 15em;

  .img-vertical-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
}


ul#park-list, ul#amenities-list, ul#selected-amenities-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    font: 200 1em/2.3 Helvetica, Verdana, sans-serif;
    min-height: 2.88em;
    border-bottom: 1px solid #ccc;

    .activity-img {
      height: 24px;
      width: 24px;
    }

    &:last-child {
      border: none;
    }

    & > p {
      margin: 0;
    }

    & > a, & > p {
      color: #246;
      display: block;
      width: 100%;

      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition:    font-size 0.3s ease, background-color 0.3s ease;
      -o-transition:      font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition:     font-size 0.3s ease, background-color 0.3s ease;
      transition:         font-size 0.3s ease, background-color 0.3s ease;

      &:hover {
        color: #18bc9c;
        text-decoration: none;
        font-size: 1.2em;
        background-color: #f6f6f6;
      }
    }
  }
}

// List thumbnail grid style
ul#park-amenities {
  list-style-type: none;

  .view {

    width: 110px;
    height: 110px;
    margin: 13px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0px 0px 7px rgba(0,50,100,0.8);
    -moz-box-shadow: 0px 0px 7px rgba(0,50,100,0.8);
    box-shadow: 0px 0px 7px rgba(0,50,100,0.8);
    cursor: default;

    .mask {
      width: 105px;
      height: 105px;
      position: absolute;
      overflow: hidden;
      top: -5px;
      left: -5px;
      opacity: 0;
      background-color: rgba(219,127,8, 0.7);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }

    img {
      display: block;
      position: relative;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      transition: all 0.2s linear;
    }

    h6 {
      color: #fff;
      position: relative;
      font-size: 1em;
      padding: 10px;
      background: rgba(44, 62, 80, 0.8);
      margin: 30px 0 0 0;
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -o-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      transform: translateY(-100px);
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    &:hover {

      img {
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
      }

      .mask {
        opacity: 1;
      }

      h6 {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
      }
    }
  }

}

.park-center {
  a {
    display: block;
    margin-bottom: 10px; 
  }

  padding-bottom: 1em;
}

.text-classes {
  font-size: 1.3em;
}

.location-search {

}

#searchbox-container {
  position: absolute;
  z-index: 11;
  right: 8em;
  top: 5px;

  .icon-search {
    position: absolute;
    // padding-top: 10px;
    // padding-left: 10px;
    padding: 10px;
    width: 40px;
    height: 40px;
    z-index: 12;
    background-color: #fff;
    border: 2px solid #669834;
  }

}



input#search-box {
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 13;
  cursor: pointer;
  -webkit-transform:  all .25s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transform:     all .25s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transform:       all .25s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transform:      all .25s cubic-bezier(0.345, 0, 0.25, 1);
  transition:         all .25s cubic-bezier(0.345, 0, 0.25, 1);

  &:focus {
    cursor: text;
    width: 250px;
    opacity: 1;
  }
}


#autocomplete {
  // margin-bottom: 20px;
}


html, body, #map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.glyphicon-ok {
  color: #669834;
}

.glyphicon-remove {
  color: #E63125;
}

.panel-group .panel-body {

  .panel-scrollable {
    max-height: 20em;
    overflow: auto;
    margin-right: -15px;
    padding-right: 15px;
    clear: right;
  }

  .faded-edge-bottom {
    position: absolute;
    height: 6em;
    width: 90%;
    margin-left: -15px;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    bottom: 4.5em;
    z-index: 10;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;

    &.v2 {
      bottom: 1.5em;
    }

  }

  &:hover .faded-edge-bottom {
    height: 1em;
  }
}

.angular-google-map-container {
  height: 35em;
}

#mini-map {
  height: 20em;
}

#activity-window {
  max-height: 50px;
  max-width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.full-height {
  height: 100%
}

.color-default {
  color: #2c3e50;
}

// .edge-wrapper {
//   position: relative;
// }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media screen and (max-width: 991px) {
  h1 {
    .navbar-brand {
      font-size: 0.55em;
    }
  }

  .course-details {
    max-height: 30em;
  }

  .panel-group .panel-body {
    .faded-edge-bottom {
      bottom: 3.1em;
      width: 96%;

      &.v2 {
        bottom: 0.1em;
      }
    }
  }

  .angular-google-map-container {
    height: 25em;
  }

}

@media screen and (max-width: 767px) {
  h1 {
    .navbar-brand {
      font-size: 0.46em;
    }
  }

  .course-details {
    max-height: 20em;
  }

  .angular-google-map-container {
    height: 20em;
    margin-right: 5px;
  }

  .park-details-list {

  }

  table {
    margin-top: 1em;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { 
    border: 1px solid #ccc; 
  }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 35% !important;
    padding-top: 10px;
    padding-bottom: 10px; 
  }
  
  td:before { 
    // Get the label information from the HTML template
    content: attr(data-label); // Table header
    position: absolute;
    top: 10px;
    left: 8px;
    width: 30%; 
    padding-right: 5px; 
    white-space: nowrap;
  }


}
