@import 'mixins';

// PRCR Blue: rgb(4, 113, 206)
// Old Primary: #1565C0
// $primary: #0D44A7;

$primary: #0471CE;
$indigo: #3F51B5;
$light-blu: #ABC5E9;
$google-blu: #286DEA;
$light-white: rgba(255,255,255,0.87);
$warn: #EF6C00;
$alert: #E65100;
$success: #3C763D;
$success-light: #669834;
$danger: #E63125;
$heart: #B71C1C;
$black: #000;
$gray: rgba(0,0,0, 0.68);
$accent: #FF4081;
$dark-text: rgba(38, 47, 98, 0.78);

html {
  font-family: Roboto, Helvetica, Verdana, sans-serif;
  font-weight: 400;
}

.nav, .pagination, #parks_layer image, a { 
  cursor: pointer; 
}

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}

*::selection {
  // rgba(172,255,168,0.6)
  background: rgba(37,208,117,0.3);
}
*::-moz-selection {
  // rgba(172,255,168,0.6)
  background: rgba(37,208,117,0.3);
}

img, h1, h2, h3, h4, h5, h6, #map-canvas {
  -webkit-user-select: none;  
     -moz-user-select: none;    
      -ms-user-select: none;
          user-select: none;  
}

#geolocate-button {
  position: absolute;
  top: 95px;
  left: 20px;
  z-index: 31;

  .zoomLocateButton {
    background-color: #555;
  }
}

#search-field {
  // position: absolute;
  // z-index: 2;
  // top: 20px;
  // left: 74px;
  margin: 6px 3px 6px 7px;
}

#map-key, #location-tracker {
  position: absolute;
  right: 10px;
}

#map-key {
  bottom: 10px;
}

#location-tracker {
  bottom: 80px;

  md-icon {
    color: $gray;
  }

  md-icon.active {
    color: $google-blu;
  }
}

.dijitPopup {
  position: absolute;

  * {
    cursor: default;
  }
}

.opaque {
  opacity: 0;
}

.light {
  color: $light-white;
}

.text-primary {
  color: $indigo;
}

.text-info {
  color: $primary;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}

.text-warn {
  color: $warn;
}

.text-center {
  text-align: center;
}


.activity-label, .park-label, .dijitPopup {
  background-color: #fff;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  font-family: Roboto, Helvetica, Verdana, sans-serif;
  padding: 5px;
  @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
  border-radius: 2px;
  z-index: 6;
}

.pac-container {
  width: auto !important;
  position: initial !important;
  left: 0 !important;
  right: 0 !important;
  display: block;
  @include box-shadow( none !important );
  border-top: none !important;

  .pac-item {
    padding: 5px;
    font-size: 14px !important;

    .pac-item-query {
      font-size: 15px;
      .pac-matched {
        // color: #FF565D; // Red
        color: #3F51B5 // Indigo Blue
        // color: #B3A1E9; // Light Purple
      } 
    }

    .pac-icon {

    }

    .pac-icon-marker {
      // Light Purple marker
      // background-position: 16px -181px; 
      // Red marker
      // background-position: 16px -160px;
      // Indigo search icon
      // background-position: 16px -1px;
    }

    .pac-item-query {

    }
  }
  
  &:empty{
    display: none !important;
  }
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.collapsing .faded-edge-bottom {
  // display: none;
  opacity: 0 !important;
}

.button-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

#flash {
  position: absolute;
  z-index: 101;
  right: 5px;
  top: 3px;
  position: fixed;
}

#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 25px;
  z-index: 21;

  -webkit-transform: translateY(100px) scale(0,0);
     -moz-transform: translateY(100px) scale(0,0);
       -o-transform: translateY(100px) scale(0,0);
      -ms-transform: translateY(100px) scale(0,0);
          transform: translateY(100px) scale(0,0);

  opacity: 0;
  -webkit-transition:  all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transition:     all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transition:       all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transition:      all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  transition:         all 0.4s cubic-bezier(0.345, 0, 0.25, 1);


  .md-button {
    z-index: 22;
  }

  &.bring-to-screen {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1,1);
       -moz-transform: translateY(0px) scale(1,1);
         -o-transform: translateY(0px) scale(1,1);
        -ms-transform: translateY(0px) scale(1,1);
            transform: translateY(0px) scale(1,1);
  }

  &.bring-to-screen.lower {
    opacity: 1;
    -webkit-transform: translateY(20px) scale(1,1);
       -moz-transform: translateY(20px) scale(1,1);
         -o-transform: translateY(20px) scale(1,1);
        -ms-transform: translateY(20px) scale(1,1);
            transform: translateY(20px) scale(1,1);
  }
}


md-icon {
  outline: none;
}

.fa-icon-baseline {
  vertical-align: baseline;
}

.scroll-button-top, .scroll-button-bottom {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 25px;
  width: 100%;
  z-index: 5;

  -webkit-transition:  visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transition:     visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transition:       visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transition:      visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  transition:          visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);

  &.show-button {
    opacity: 1;
    visibility: visible;
  }

  .md-button-top, .md-button-bottom {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .md-button-top {
    top: 0;
  }

  .md-button-bottom {
    bottom: 0;
  }
}

.scroll-button-top {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); 
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
  top: 0;
}

.scroll-button-bottom {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  bottom: 0;
}

#mobile-nav {

  .nav-item {
    text-align: center;
    a {
      color: $light-white;
      padding: 10px;
      -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
      -moz-transition:    all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
      transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);

      &:focus, &:hover {
        padding: 10px 30%;
        outline: none;
        background-color: darken($primary, 15%);
      }
    }
  }
}

#map-icons-dialog {
  md-toolbar {
    background-color: darken($primary, 10%);
  }

  .map-icons-list {
    .user-icon {
      height: 45px !important;
    }

    .md-avatar {
      border-radius: 0;
      height: 50px;
      width: 50px;
    }

    h4 {
      font-weight: 500;
      color: rgba(0,0,0,0.75);
    }
  }
}


h2 {
  font: 400 40px/1.5 Roboto, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.small-font {
  font-size: 0.75em;
}

p {
  word-wrap: break-word;
}

.font-p-sm {
  font-size: 0.9em
}

th {
  white-space: nowrap;
}

.fa-pad-right {
  padding-left: 5px;
}

.list-button {
  text-align: left;
  margin: 0;
  padding-left: 0;
}

.text-total-results {
  font-size: 15px;  
}

// .course-details {
//   max-height: 40em;
//   overflow: auto;
//   margin-right: -15px;
//   padding-right: 15px;
  
//   table, .table {
//     a.md-button{
//       margin: 0;
//       text-decoration: none;
//     }
//   }
// }

.img-container {
  height: 150px;
  width: 200px;

  .img-responsive {
    height: 100%;
    width: auto;
  }
  
}


.park-detail {
  margin: 5px 0;
}

.md-chips {
  
  .md-chip {
    max-width: 45%;
    
    .md-chip-content {
      
      md-chip-template {

      }
    }
  }
}

#activities-list {
  .activity-icon {
    margin: 5px 8px 5px 5px;
  }
  md-list-item > .md-button:not(.md-secondary-container) {
    padding: 0;
  }

  .limit-activity-name {
    max-width: 60%;
  }
}

#parks-list {
  .md-list-item-text {
    margin: 0;
    p {
      font-size: 13px;
      font-weight: 400;
    }
  }
}

#parks-list, #activities-list {
  .custom-ripple-item {
    
    button.md-ink-ripple {
      color: $google-blu;

      &:hover {
        background-color: rgba($google-blu, 0.1);
      }

      &.md-focused {
        background-color: rgba($google-blu, 0.2);
      }

      .md-ripple-container {
        // display: none;
      }

      p, h3 {
        color: $dark-text;
      }
    }
  }
}

.text-before-dropdown, .inline-dropdown {
  font-size: 14px;
  font-weight: 500;
}

.text-before-dropdown {
}

.inline-dropdown {
  margin: 0 0 4px 2px;

  .md-select-value {
    border-bottom: transparent;
    align-self: flex-end;
  }
}


// ul#park-list, ul#amenities-list, ul#selected-amenities-list {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;

//   li {
//     position: relative;
//     min-height: 3.45em;
//     border-bottom: 1px solid #ccc;

//     .activity-img {
//       height: 24px;
//       width: 24px;
//     }

//     &:last-child {
//       border: none;
//     }

//     & > p {
//       margin: 0;
//     }

//     & > a, & > p {
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       font-size: 16px;
//       line-height: 3em;
//       overflow: hidden;
//       white-space: nowrap;
//       text-overflow: ellipsis;
//       color: darken($primary, 30%);
//       display: block;
//       width: 100%;

//       -webkit-transition: all 0.3s ease;
//       -moz-transition:    all 0.3s ease;
//       -o-transition:      all 0.3s ease;
//       -ms-transition:     all 0.3s ease;
//       transition:         all 0.3s ease;

//       &:hover {
//         color: darken($primary, 20%);
//         text-decoration: none;
//         font-size: 1.2em;
//         background-color: rgba(0,0,0,0.01);

//       }
//     }
//   }
// }

#class-sections, #park-amenities {

  .icon-card {
    height: auto;
    max-width: 150px;
    @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );
    
    md-card-content {
      md-icon {
        @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );

        &.icon-contain {
          width: auto;
          height: auto;
        }
      }
    }

    md-card-footer {
      background-color: $indigo;
      @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );

      .icon-name {
        @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );
        color: $light-white;
        font-size: 18px;
        text-align: center;
        margin: 0;
      }    
    }
    
    // Hover for all cards (clickable and non-clickable)
    &:hover {
      md-card-footer {
        background-color: $light-white;

        .icon-name {
          color: $indigo;
          white-space: normal;
          // font-size: 20px;
        }    
      }
    }
    
    // Clickable cards
    &[ng-click] {
      cursor: pointer;
      @include box-shadow( 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12) );

      &:focus, &:visited, &:active {
        outline: none;
        border: 5px solid rgba($indigo, 0.82);
        @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
      }

      &:hover {
        @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
        md-icon {
          @include transform( scale(1.15, 1.15) );
        }

        
      }
    }

    &:not([ng-click]) {
      md-card-content {
        padding: 8px;
      }

      // .icon-name {
      //   font-size: 14px;
      //   white-space: normal;
      // }
    }

  }
}

// List thumbnail grid style
// #park-amenities, #class-sections {
//   list-style-type: none;
//   padding-left: 0;

//   .view[ng-click] {
//     cursor: pointer;
//     @include box-shadow( 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12) );

//     &:focus {
//       outline: none;
//       border: 5px solid rgba($indigo, 0.82);
//       @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
//     }
//   }

//   .view {

//     width: 110px;
//     height: 110px;
//     margin: 12px;
//     border: 5px solid #fff;
//     overflow: hidden;
//     position: relative;
//     text-align: center;
//     -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3), 0px 0px 17px rgba(0, 0, 0, 0.25);
//     -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3), 0px 0px 17px rgba(0, 0, 0, 0.25);
//     box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3), 0px 0px 17px rgba(0, 0, 0, 0.25);
//     cursor: default;

//     .mask {
//       width: 100%;
//       height: 100%;
//       position: absolute;
//       overflow: hidden;
//       top: 0;
//       left: 0;
//       opacity: 0;
//       background-color: rgba($warn, 0.7);
//       -webkit-transition: all 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
//       -moz-transition: all 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
//       -o-transition: all 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
//       -ms-transition: all 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
//       transition: all 500ms cubic-bezier(0.65, 0.05, 0.36, 1);
//     }

//     md-icon {
//       position: relative;
//       @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );

//       &.icon-contain {
//         width: 100%;
//         height: 100%;
//       }
//     }

//     h6 {
//       color: #fff;
//       position: relative;
//       margin: 0;
//       padding: 10px 3px 10px 3px;
//       background: rgba($indigo, 0.82);
//       opacity: 0;
//       font-size: 15px;
//       // font-size: 1em;
//       // max-height: 50px;
//       // overflow: auto;

//       @include transform( translateY(-70px) );
//       @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );
//     }

//     &:hover {

//       md-icon {
//         @include transform( scale(1.1,1.1) );
//       }

//       .mask {
//         opacity: 1;
//       }

//       h6 {
//         opacity: 1;
//         @include transform( translateY(25px) );
//       }
//     }
//   }

// }

md-input-container {
  &.classes-search-container {
    margin: 5px 0 0;
  }

  .hint {
    color: rgba($black, 0.42);
    font-size: 12px;
  }
}

.back-to-sections:hover, .back-to-sections:focus {
  background-color: rgba($indigo, 0.13) !important;
}

.back-to-map {
  font-size: 12px;
  margin: 0;

  &:hover, &:focus {
    background-color: rgba($accent, 0.1) !important;
  }
}

.park-center {

  h3 {
    margin-bottom: 20px;
  }

  a {
    display: block;
    // margin-bottom: 10px; 
  }

  padding-bottom: 1em;
}

.text-classes {
  font-size: 1.3em;
}

.skip-button {
  margin-right: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.progress-spinner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  &[md-mode="indeterminate"] {
    z-index: 30;
  }
}

.capitalize {
  text-transform: capitalize;
}

.limit-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map-canvas, #directions-map {
  position: relative;
  @include box-shadow( 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) );
}

#map-canvas {
  box-sizing: content-box;
  padding: 0;
  margin: 8px;
  min-height: 450px;

  #aerial-toggle {
    position: absolute;
    z-index: 30;
    top: 20px;
    right: 20px;

    .md-button {
      margin: 0;
      padding: 0 10px;
      min-width: initial;
      font-size: 13px;
      text-transform: capitalize;
      border-radius: 0;
      color: rgba($black, 0.6);
      @include box-shadow( 0 4px 8px 0 rgba($black, 0.4) );

      &.selected {
        font-weight: 600;
        background-color: #eee;
        @include box-shadow( 0 2px 5px 0 rgba($black, 0.26) );
      }
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.no-mb {
  margin-bottom: 0;
}

.panel-scrollable {
  max-height: 340px;
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;
  clear: right;
}

.pull-down-lg {
  margin-top: 30px;
}

.pull-down-md {
  margin-top: 20px;
}

.pull-down-sm {
  margin-top: 10px;
}

#park-window {

  h3 {
    margin: 0;
    padding: 5px 0 8px;
  }

  p {
    margin: 0;
    padding: 4px 0;
    color: rgba(0,0,0,0.6);
  }

  .more-info {
    color: $indigo;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;

    &:hover {
      text-decoration: none;
      color: darken($indigo, 10%);
    }
  }
}

#activity-window, #park-window {
  opacity: 0;

  -moz-animation:     show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  -webkit-animation:  show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  -o-animation:       show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  animation:          show-me 900ms cubic-bezier(0.65, 0.05, 0.36, 1) 0s 1 normal;
  
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes show-me {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes show-me {
  from { opacity: 0; }
  to { opacity: 1; }
}

.full-height {
  height: 100%
}

.color-default {
  color: #2c3e50;
}

.gradient-primary {
  background:     -moz-linear-gradient(top,       $primary 0%, darken($primary, 5%) 100%);
  background:  -webkit-linear-gradient(top,       $primary 0%, darken($primary, 5%) 100%); 
  background:          linear-gradient(to bottom, $primary 0%, darken($primary, 5%) 100%);
  background-color: $primary;
}

.custom-ink-ripple {

  button.md-ink-ripple {
    color: $google-blu;

    &:hover {
      background-color: rgba($google-blu, 0.1);
    }

    &.md-focused {
      background-color: rgba($google-blu, 0.2);
    }
  }
}

#menu-sidenav {
  
  .nav-header {
    margin: 25px 8px 40px;
    box-sizing: border-box;

    img {
      height: auto;
      max-width: 100%;
    }
  }

  .menu-item {
    color: $light-white;
    font-size: 16px;
    border-bottom: 1px solid $light-blu;

    &:first-child {
      border-top: 1px solid $light-blu;
    }

    &:hover, &:focus {
      background-color: lighten($primary, 3%);
    }

    .md-button:hover, .md-button:focus {
      background-color: transparent;

      &.md-ripple-container {
        display: none;
      }
    }

    .list-icon {
      @include transition( all 600ms cubic-bezier(0.345, 0, 0.25, 1) );

      &.rotate {
        @include transform( rotate(180deg) );
      }
    }
  }

  .selection-menu {
    @include transition( all 600ms cubic-bezier(0.46, 0.03, 0.52, 0.96) );
    background-color: #fff;
    max-height: 500px;
    overflow: visible;
    padding: 12px;

    &.ng-hide {
      max-height: 0;
    }
    
    &.ng-hide, &.ng-hide-animate, &.activities-selection {
      overflow: auto;
    }

  }

}

#navbar {
  
  h1 {
    font-size: 24px;
  }

  a:hover, a:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.85);
  }

}

#footer {
  z-index: 1;
  max-height: 45px;
  min-height: 45px;
  height: 45px;
  border-top: 1px solid #e5e5e5;
  opacity: 1;
  visibility: visible;
  padding: 2px 8px;

  @include transition( all 500ms cubic-bezier(0.345, 0, 0.25, 1) );

  &.collapsed {
    min-height: 0;
    height: 0;
    max-height: 0;
    border: 0;
    opacity: 0;
    visibility: hidden;
    // @include transform( translateY(50px) );
  }

  md-content {
    @include box-shadow( 0 -3px 7px 0 rgba(0, 0, 0, 0.19) );
  }

  .layout-padding {
    padding: 4px 8px;
  }

  p {
    color: rgba(0,0,0,0.45);
    margin: 0;
    padding: 2px;
    font-size: 13px;
    line-height: 15px;
    height: 20px;
  }

  .fa-heart {
    color: $heart;
    -moz-animation:     pulsate 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s infinite normal;
    -webkit-animation:  pulsate 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s infinite normal;
    -o-animation:       pulsate 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s infinite normal;
    animation:          pulsate 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s infinite normal;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

}

@keyframes pulsate {
  0% { @include transform( scale(1,1) ); }
  10% { @include transform( scale(1.2,1.2) ); }
  20% { @include transform( scale(1,1) ); }
}
@-webkit-keyframes pulsate {
  0% { @include transform( scale(1,1) ); }
  10% { @include transform( scale(1.2,1.2) ); }
  20% { @include transform( scale(1,1) ); }
}

#collapse-footer {
  position: relative;
  
  .collapse-button {
    position: absolute;
      -webkit-transform: translate(0px, -2px);
         -moz-transform: translate(0px, -2px);
           -o-transform: translate(0px, -2px);
          -ms-transform: translate(0px, -2px);
              transform: translate(0px, -2px);
    left: 0;
    top: -68px;
    z-index: 1;

    -webkit-transition:  all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
    -moz-transition:     all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
    -o-transition:       all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
    -ms-transition:      all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
    transition:         all 0.6s cubic-bezier(0.345, 0, 0.25, 1);

    md-icon {
      color: $heart;
      -webkit-transition:  all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
      -moz-transition:     all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
      -o-transition:       all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
      -ms-transition:      all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
      transition:         all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
    }

    &.rotated {
      -webkit-transform: translateY(30px) rotate(45deg);
         -moz-transform: translateY(30px) rotate(45deg);
           -o-transform: translateY(30px) rotate(45deg);
          -ms-transform: translateY(30px) rotate(45deg);
              transform: translateY(30px) rotate(45deg);

      md-icon {
        color: #55B53F;
      }
    }
  }
}

.content-box {
  box-sizing: content-box !important;
}

.layout-margin > ui-view, .layout-padding > ui-view, .layout-margin > [ui-view], .layout-padding > [ui-view] {
  margin: 0;
  padding: 0;
}

div[ui-view="classes-info"] {
  // Starting the entering transition...
  &.ng-enter {
    opacity: 0.5;
    @include transform( translateX(500px) );
    @include transition( all 600ms cubic-bezier(0.345, 0, 0.25, 1) );
  }
  // Finish the enter transition
  &.ng-enter-active {
    opacity: 1;
    @include transform( translateX(0) );
  }
  // Start the leave transition...
  &.ng-leave {
    opacity: 0;
    @include transform( translateX(0) );
    @include transition( all 600ms cubic-bezier(0.345, 0, 0.25, 1) );
  }
  // Finish leaving
  &.ng-leave-active {
    opacity: 0;
    @include transform( translateX(-500px) );
  }
}


.md-card {

  box-sizing: border-box;
  margin: 5px;
  @include display-flex;
  @include flex-direction( column );
  @include box-shadow( 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) );
  @include transition( all 0.4s cubic-bezier(0.345, 0, 0.25, 1) );

  
  &:hover, &:focus {
    @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
    @include transform( translateY(-1px) );
  }

  &:focus {
    outline: none;
    border: 2px solid rgba(103,58,183,0.4);
  }

  &.odd-card {
    background-color: rgba($black, .01);
  }

  .md-card-content {
    padding: 8px 8px 0;
    @include display-flex;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .card-actions {
    .md-button {
      &:hover, &:focus {
        background-color: rgba($accent, 0.13);
      }
    }
  }
}

.display-on-mobile {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 599px) {
  #directions-map {
    min-height: 300px;
    margin-top: 10px;
  }

  #map-canvas {
    margin: 0;
  }

  #park-info {
    .md-tab {
      font-size: 12px;
      padding: 12px 5px;
    }

    .back-to-sections {
      white-space: normal;
      line-height: 18px;
      margin: auto 0;
    }

    #class-sections {
      .view {
        md-icon {
          @include transform( scale(1.1,1.1) );
        }

        .mask {
          opacity: 1;
        }

        h6 {
          opacity: 1;
          @include transform( translateY(25px) );
        }

        &:hover, &:focus {
          .mask {
            opacity: 0;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 959px) {

  .hide-on-mobile {
    display: none;
  }

  .display-on-mobile {
    opacity: 1;
    visibility: visible;
  }

  #navbar {
    h1 {
      font-size: 20px;
    }
  }

}