@import 'mixins';

$primary: #0471CE;
$indigo: #3F51B5;
$light-blu: #ABC5E9;
$google-blu: #286DEA;
$light-white: rgba(255,255,255,0.87);
$warn: #EF6C00;
$alert: #E65100;
$success: #3C763D;
$success-light: #669834;
$danger: #E63125;
$heart: #B71C1C;
$black: #000;
$map-bg: #f2e5d4;
$gray: rgba(0,0,0, 0.68);
$accent: #FF4081;
$dark-text: rgba(38, 47, 98, 0.78);

$quadratic-in-out: cubic-bezier(0.46, 0.03, 0.52, 0.96);
$cubic-in-out: cubic-bezier(0.65, 0.05, 0.36, 1);
$fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);

html {
  font-family: Roboto, Helvetica, Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#parks_layer image, a { 
  cursor: pointer; 
}

a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
  outline: none;
}

*::selection {
  // rgba(172,255,168,0.6)
  background: rgba(37,208,117,0.3);
}
*::-moz-selection {
  // rgba(172,255,168,0.6)
  background: rgba(37,208,117,0.3);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

img, h1, h2 #map-canvas, .app-title {
  -webkit-user-select: none;  
     -moz-user-select: none;    
      -ms-user-select: none;
          user-select: none;  
}

#map-key, #location-tracker {
  position: absolute;
  right: 10px;
}

#map-key {
  bottom: 10px;
}

#location-tracker {
  bottom: 80px;

  md-icon {
    color: $gray;
  }

  md-icon.active {
    color: $google-blu;
  }
}

.dijitPopup {
  position: absolute;
  overflow: hidden !important;

  .dijitBackgroundIframe {
    display: none;
  }
}

.text-light {
  color: $light-white;
}

.text-primary {
  color: $indigo;
}

.text-info {
  color: $primary;
}

.text-success {
  color: $success;
}

.text-danger {
  color: $danger;
}

.text-warn {
  color: $warn;
}

.text-center {
  text-align: center;
}


.activity-label, .park-label, .dijitPopup {
  background-color: #fff;
  color: rgba(0,0,0,0.8);
  font-size: 14px;
  font-family: Roboto, Helvetica, Verdana, sans-serif;
  padding: 5px;
  @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
  border-radius: 2px;
  z-index: 6;
}

.pac-container {
  width: auto !important;
  position: initial !important;
  left: 0 !important;
  right: 0 !important;
  display: block;
  @include box-shadow( none !important );
  border-top: none !important;

  .pac-item {
    padding: 5px;
    font-size: 14px !important;

    .pac-item-query {
      font-size: 15px;
      .pac-matched {
        // color: #FF565D; // Red
        color: #3F51B5 // Indigo Blue
        // color: #B3A1E9; // Light Purple
      } 
    }

    .pac-icon {

    }

    .pac-icon-marker {
      // Light Purple marker
      // background-position: 16px -181px; 
      // Red marker
      // background-position: 16px -160px;
      // Indigo search icon
      // background-position: 16px -1px;
    }

    .pac-item-query {

    }
  }
  
  &:empty{
    display: none !important;
  }
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.collapsing .faded-edge-bottom {
  // display: none;
  opacity: 0 !important;
}

.button-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

#flash {
  position: absolute;
  z-index: 101;
  right: 5px;
  top: 3px;
  position: fixed;
}

#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 21;
  opacity: 0;
  @include transform( translateY(100px) scale(0,0) );
  @include transition( all 0.4s $cubic-in-out );


  .md-button {
    z-index: 22;
  }

  &.bring-to-screen {
    opacity: 1;
    @include transform( translateY(0px) scale(1,1) );
  }

  &.bring-to-screen.lower {
    @include transform( translateY(20px) scale(1,1) );
  }
}


md-icon {
  outline: none;
}

.icon-baseline {
  vertical-align: baseline;
}

#map-icons-dialog-content {
  .map-icons-list {
    .md-avatar {
      border-radius: 0;
      margin: 0 16px 0 0;
      height: auto;
      max-width: 100%;
    }
  }
}

p {
  word-wrap: break-word;
}

.fa-pad-right {
  padding-left: 5px;
}

.list-button {
  text-align: left;
  margin: 0;
  padding-left: 0;
}

.text-total-results {
  font-size: 15px;  
}

.img-container {
  height: 150px;
  width: 200px;
  margin: 12px;

  .img-responsive {
    height: auto;
    max-width: 100%;
  }
  
}

#park-info {
  .current-park-name {
    max-width: 80%;
    text-align: center;
  }
}


.park-detail {
  margin: 5px 0;
}

.md-chips {
  
  .md-chip {
    max-width: 45%;
    
    .md-chip-content {
      
      md-chip-template {

      }
    }
  }
}

#activities-list {
  .activity-icon {
    margin: 5px 8px 5px 5px;
  }
  md-list-item > .md-button:not(.md-secondary-container) {
    padding: 0;
  }

  .limit-activity-name {
    max-width: 60%;
  }
}

#parks-list {
  .md-button {
    padding: 0 4px;
  }

  .md-list-item-inner {
    @include justify-content( space-between );

    .list-inner-text {
      white-space: nowrap;
    }
  }
}

#parks-list, #activities-list {

  .custom-ripple-item {
    
    button.md-ink-ripple {
      color: $google-blu;

      &:hover {
        background-color: rgba($google-blu, 0.1);
      }

      &.md-focused {
        background-color: rgba($google-blu, 0.2);
      }

      .list-inner-text {
        color: $dark-text;
      }
    }
  }
}

.text-before-dropdown, .inline-dropdown {
  font-size: 14px;
  font-weight: 500;
}

.inline-dropdown {
  margin: 0 0 4px 2px;

  .md-select-value {
    border-bottom: transparent;
    align-self: flex-end;
  }
}

#class-sections, #park-amenities {

  .icon-card {
    height: auto;
    width: 150px;
    @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );
    
    md-card-content {
      md-icon {
        @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );

        &.icon-contain {
          width: 100%;
          height: auto;
        }
      }
    }

    md-card-footer {
      background-color: $indigo;
      @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );

      .icon-name {
        @include transition( all 300ms cubic-bezier(0.65, 0.05, 0.36, 1) );
        color: $light-white;
        font-size: 18px;
        text-align: center;
        margin: 0;
      }    
    }
    
    // Hover for all cards (clickable and non-clickable)
    &:hover {
      md-card-footer {
        background-color: $light-white;

        .icon-name {
          color: $indigo;
          white-space: normal;
          // font-size: 20px;
        }    
      }
    }
    
    // Clickable cards
    &[ng-click] {
      cursor: pointer;
      @include box-shadow( 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12) );

      &:focus, &:visited, &:active {
        outline: none;
        border: 5px solid rgba($indigo, 0.82);
        @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
      }

      &:hover {
        @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
        md-icon {
          @include transform( scale(1.15, 1.15) );
        }

        
      }
    }

    &:not([ng-click]) {
      md-card-content {
        padding: 8px;
      }

      // .icon-name {
      //   font-size: 14px;
      //   white-space: normal;
      // }
    }

  }
}

md-input-container {
  &.classes-search-container {
    margin: 5px 0 0;
  }

  .hint {
    color: rgba($black, 0.42);
    font-size: 12px;
  }
}

.back-to-sections:hover, .back-to-sections:focus {
  background-color: rgba($indigo, 0.13) !important;
}

.park-center {

  h3 {
    margin-bottom: 20px;
  }

  a {
    display: block;
    // margin-bottom: 10px; 
  }

  padding-bottom: 1em;
}

.text-classes {
  font-size: 1.3em;
}

.skip-button {
  margin-right: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.progress-spinner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;

  &[md-mode="indeterminate"] {
    z-index: 30;
  }
}

.capitalize {
  text-transform: capitalize;
}

.limit-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#map-canvas, #directions-map {
  position: relative;
  @include box-shadow( 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) );
}

#map-canvas {
  box-sizing: content-box;
  padding: 0;
  margin: 4px;
  min-height: 450px;
  background-color: $map-bg;

  #aerial-toggle {
    position: absolute;
    z-index: 30;
    top: 20px;
    right: 20px;

    .md-button {
      margin: 0;
      padding: 0 10px;
      min-width: initial;
      font-size: 13px;
      text-transform: capitalize;
      border-radius: 0;
      color: rgba($black, 0.6);
      @include box-shadow( 0 4px 8px 0 rgba($black, 0.4) );

      &.selected {
        font-weight: 600;
        background-color: #eee;
        @include box-shadow( 0 2px 5px 0 rgba($black, 0.26) );
      }
    }
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.no-mb {
  margin-bottom: 0;
}

[scrolling-buttons] {
  .scroll-button-top {
    @include linear-gradient( rgba(255,255,255,1),rgba(255,255,255,0) );
    top: 0;
  }

  .scroll-button-bottom {
    @include linear-gradient( rgba(255,255,255,0),rgba(255,255,255,1) );
    bottom: 0;
  }

  .scroll-button-top, .scroll-button-bottom {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    height: 25px;
    width: 100%;
    z-index: 5;
    @include transition (visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1) );

    &.show-button {
      opacity: 1;
      visibility: visible;
    }

    .md-button-top, .md-button-bottom {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
    }

    .md-button-top {
      top: 0;
    }

    .md-button-bottom {
      bottom: 0;
    }
  }

  .panel-scrollable {
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.pull-down-lg {
  margin-top: 30px;
}

.pull-down-md {
  margin-top: 20px;
}

.pull-down-sm {
  margin-top: 10px;
}

.full-height {
  height: 100%
}

ng-navbar, .gradient-primary {
  @include radial-gradient($primary, $indigo);
}

.custom-ink-ripple {

  button.md-ink-ripple {
    color: $google-blu;

    &:hover {
      background-color: rgba($google-blu, 0.1);
    }

    &.md-focused {
      background-color: rgba($google-blu, 0.2);
    }
  }
}

#menu-sidenav {

  sidenav-content {
    overflow-x: hidden;
  }
  
  .nav-header {
    margin: 25px 14px 40px;
    box-sizing: border-box;
    
    .parks-logo {

      img {
        height: auto;
        max-width: 100%;
      }

      .header-title {
        font-size: 26px;
        text-align: center;
        font-weight: 400;
        color: $light-white;
        margin: 1rem 0 0;
      }
    }
  }

  .menu-item {
    color: $light-white;
    font-size: 16px;
    border-bottom: 1px solid $light-blu;

    &:first-child {
      border-top: 1px solid $light-blu;
    }

    &:hover, &:focus {
      background-color: rgba(lighten($primary, 5%), 0.67);
    }

    .md-button:hover, .md-button:focus {
      background-color: transparent;

      &.md-ripple-container {
        display: none;
      }
    }

    .list-icon {
      @include transition( all 0.7s $cubic-in-out );

      &.rotate {
        @include transform( rotate(180deg) );
      }
    }
  }


  .selection-menu {
    @include transition( height 0.7s $cubic-in-out );
    background-color: #fff;
    // height: 0;
    overflow: hidden;

    .sidenav-list-item-container {
      padding: 8px 4px;

      .activity-chips {
        padding: 0 4px;
      }

      .address-input-container {
        padding-right: 10px;
      }

      .parks-autocomplete {
        padding: 0 4px;
      }

      .sort-by-text {
        margin: 6px 0 8px;
        min-height: 35px;
      }
    }

  }
}

.no-transition {
  @include transition(none !important);
}

#navbar {
  
  .app-title {
    font-size: 24px;
    color: $light-white;
    
    &:hover, &:focus {
      color: #fff;
    }
  }

}

#footer {
  z-index: 1;
  max-height: 45px;
  min-height: 45px;
  height: 45px;
  opacity: 1;
  visibility: visible;
  padding: 2px 8px;
  @include box-shadow( 0 0 7px 0 rgba(0, 0, 0, 0.19) );
  @include transition( all 500ms $cubic-in-out );

  &.collapsed {
    min-height: 0;
    height: 0;
    max-height: 0;
    border: 0;
    opacity: 0;
    visibility: hidden;
  }

  .layout-padding {
    padding: 4px 8px;
  }

  p {
    color: rgba(0,0,0,0.45);
    margin: 0;
    padding: 2px;
    font-size: 13px;
    line-height: 15px;
    height: 20px;
  }

  .fa-heart {
    color: $heart;
    @include animation( pulsate 1.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s infinite normal );

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

}

#collapse-footer {
  position: relative;
  
  .collapse-button {
    position: absolute;
    left: 0;
    top: -68px;
    z-index: 1;
    @include transition( all 0.6s cubic-bezier(0.345, 0, 0.25, 1) );
    @include transform( translate(0px, -2px) );

    md-icon {
      color: $heart;
      @include transition( all 0.6s cubic-bezier(0.345, 0, 0.25, 1) );
    }

    &.rotated {
      @include transform( translateY(30px) rotate(45deg) );

      md-icon {
        color: #55B53F;
      }
    }
  }
}

@include keyframes(fade-in) {
  from { opacity: 0; }
  to { opacity: 1; }
}

@include keyframes(slide-in-ltr) {
  from { @include transform(translateX(-100px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}
@include keyframes(slide-in-btt) {
  from { @include transform(translateY(100px)); opacity: 0; }
  to { @include transform(translateX(0)); opacity: 1; }
}

@include keyframes(pulsate) {
  0% { @include transform( scale(1,1) ); }
  10% { @include transform( scale(1.25,1.25) ); }
  20% { @include transform( scale(1,1) ); }
}

.content-box {
  box-sizing: content-box !important;
}

.layout-margin > ui-view, .layout-padding > ui-view, .layout-margin > [ui-view], .layout-padding > [ui-view] {
  margin: 0;
  padding: 0;
}

.classes-container {
  position: relative;
  min-height: 600px;
}

div[ui-view="classes-info"] {
  &.ng-enter, &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    @include transition( all 600ms $cubic-in-out );
  }
  // Starting the entering transition...
  &.ng-enter {
    opacity: 0;
    @include transform( translateX(500px) );
  }
  // Finish the enter transition
  &.ng-enter-active {
    opacity: 1;
    @include transform( translateX(0) );
  }
  // Start the leave transition...
  &.ng-leave {
    opacity: 1;
    @include transform( translateX(0) );
  }
  // Finish leaving
  &.ng-leave-active {
    opacity: 0;
    @include transform( translateX(-500px) );
  }
}

md-tabs {
  .md-tab {
    color: rgba($indigo, 0.89);
  }
}


.md-card {

  box-sizing: border-box;
  margin: 5px;
  @include display-flex;
  @include flex-direction( column );
  @include box-shadow( 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) );
  @include transition( all 0.4s cubic-bezier(0.345, 0, 0.25, 1) );

  
  &:hover, &:focus {
    @include box-shadow( 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12) );
    @include transform( translateY(-1px) );
  }

  &:focus {
    outline: none;
    border: 2px solid rgba(103,58,183,0.4);
  }

  &.odd-card {
    background-color: rgba($black, .01);
  }

  .md-card-content {
    padding: 8px 8px 0;
    @include display-flex;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .card-actions {
    .md-button {
      &:hover, &:focus {
        background-color: rgba($accent, 0.13);
      }
    }
  }
}

.display-on-mobile {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 599px) {
  #directions-map {
    min-height: 300px;
    margin-top: 10px;
  }

  #map-canvas {
    margin: 0;
  }

  #park-info {
    .md-tab {
      font-size: 12px;
      padding: 12px 5px;
    }

    .back-to-sections {
      white-space: normal;
      line-height: 18px;
      margin: auto 0;
    }

    #class-sections {
      .view {
        md-icon {
          @include transform( scale(1.1,1.1) );
        }

        .mask {
          opacity: 1;
        }

        h6 {
          opacity: 1;
          @include transform( translateY(25px) );
        }

        &:hover, &:focus {
          .mask {
            opacity: 0;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 959px) {

  .hide-on-mobile {
    display: none;
  }

  .display-on-mobile {
    opacity: 1;
    visibility: visible;
  }

  #navbar .app-title {
    font-size: 20px;
  }

  #menu-sidenav {
    .nav-header {
      margin: 22px 28px;
    }
  }
  
  [scrolling-buttons] {
    .panel-scrollable {
      max-height: 190px;
    }
  }

}



.browser-warning {
  position:absolute;
  background-color:#444;
  color:white;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  z-index:100000;
  padding: 40px;
}


.browser-warning .btn {
  background: none;
  color: white;
}

.lead {
  margin-top: 10px;
  margin-bottom: 10px;
}