@import url(../bower_components/angular-material/angular-material.css);
@import url(./flatly.min.css);
@import url(./font-awesome.css);
@import url(../bower_components/angular-flash-alert/dist/angular-flash.min.css);
/* line 7, styles.scss */
html {
  font-family: Roboto, Helvetica, Verdana, sans-serif;
}

/* line 11, styles.scss */
.nav, .pagination, .carousel, .panel-title a, a {
  cursor: pointer;
}

/* line 15, styles.scss */
*::-moz-selection {
  background: rgba(37, 208, 117, 0.3);
}
*::selection {
  background: rgba(37, 208, 117, 0.3);
}

/* line 19, styles.scss */
*::-moz-selection {
  background: rgba(37, 208, 117, 0.3);
}

/* line 24, styles.scss */
img, h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 41, styles.scss */
.pac-container .pac-item .pac-matched {
  color: #3F51B5;
}
/* line 51, styles.scss */
.pac-container .pac-item .pac-icon-marker {
  background-position: 16px -1px;
}

/* line 66, styles.scss */
.pac-container:empty {
  display: none !important;
}

/* line 70, styles.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 73, styles.scss */
.collapsing .faded-edge-bottom {
  opacity: 0 !important;
}

/* line 79, styles.scss */
.panel-title a:focus {
  outline: none;
}

/* line 84, styles.scss */
#flash {
  position: absolute;
  z-index: 101;
  right: 5px;
  top: 3px;
  position: fixed;
}

/* line 92, styles.scss */
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 25px;
  z-index: 21;
  transform: translateY(100px);
  opacity: 0;
  -webkit-transform: all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transform: all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transform: all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transform: all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  transition: all 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  .md-button-z-index: 22;
}

/* line 117, styles.scss */
#back-to-top.bring-to-screen {
  opacity: 1;
  transform: translateY(0px);
}

/* line 126, styles.scss */
md-icon {
  outline: none;
}

/* line 130, styles.scss */
.scroll-button-top, .scroll-button-bottom {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 25px;
  width: 100%;
  -webkit-transform: visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transform: visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transform: visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transform: visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
  transition: visibility 0.4s, opacity 0.4s cubic-bezier(0.345, 0, 0.25, 1);
}
/* line 143, styles.scss */
.scroll-button-top.show-button, .scroll-button-bottom.show-button {
  opacity: 1;
  visibility: visible;
}
/* line 148, styles.scss */
.scroll-button-top .md-button-top, .scroll-button-top .md-button-bottom, .scroll-button-bottom .md-button-top, .scroll-button-bottom .md-button-bottom {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}
/* line 155, styles.scss */
.scroll-button-top .md-button-top, .scroll-button-bottom .md-button-top {
  top: 0;
}
/* line 159, styles.scss */
.scroll-button-top .md-button-bottom, .scroll-button-bottom .md-button-bottom {
  bottom: 0;
}

/* line 164, styles.scss */
.scroll-button-top {
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
}

/* line 171, styles.scss */
.scroll-button-bottom {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  bottom: 0;
}

/* line 180, styles.scss */
#mobile-nav .nav-item {
  text-align: center;
}
/* line 182, styles.scss */
#mobile-nav .nav-item a {
  color: #fff;
  padding: 10px;
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 189, styles.scss */
#mobile-nav .nav-item a:focus, #mobile-nav .nav-item a:hover {
  padding: 10px 30%;
  outline: none;
  background-color: #317005;
}

/* line 199, styles.scss */
h2 {
  font: 400 40px/1.5 Roboto, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 205, styles.scss */
.small-font {
  font-size: 0.75em;
}

/* line 209, styles.scss */
p {
  word-wrap: break-word;
}

/* line 213, styles.scss */
.font-p-sm {
  font-size: 0.9em;
}

/* line 217, styles.scss */
th {
  white-space: nowrap;
}

/* line 221, styles.scss */
.fa-pad-right {
  padding-left: 5px;
}

/* line 225, styles.scss */
.list-button {
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}

/* line 231, styles.scss */
.text-green {
  color: #3C763D;
}

/* line 235, styles.scss */
.text-total-results {
  margin: -15px 0 0;
}

/* line 239, styles.scss */
.course-details {
  max-height: 40em;
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;
}
/* line 246, styles.scss */
.course-details table a:not(.btn), .course-details .table a:not(.btn) {
  text-decoration: none;
}

/* line 252, styles.scss */
.img-container {
  position: relative;
  height: 15em;
}
/* line 256, styles.scss */
.img-container .img-vertical-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 268, styles.scss */
ul#park-list, ul#amenities-list, ul#selected-amenities-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 273, styles.scss */
ul#park-list li, ul#amenities-list li, ul#selected-amenities-list li {
  font: 400 1em/2.3 Roboto, Helvetica, Verdana, sans-serif;
  min-height: 2.88em;
  border-bottom: 1px solid #ccc;
}
/* line 278, styles.scss */
ul#park-list li .activity-img, ul#amenities-list li .activity-img, ul#selected-amenities-list li .activity-img {
  height: 24px;
  width: 24px;
}
/* line 283, styles.scss */
ul#park-list li:last-child, ul#amenities-list li:last-child, ul#selected-amenities-list li:last-child {
  border: none;
}
/* line 287, styles.scss */
ul#park-list li > p, ul#amenities-list li > p, ul#selected-amenities-list li > p {
  margin: 0;
}
/* line 291, styles.scss */
ul#park-list li > a, ul#park-list li > p, ul#amenities-list li > a, ul#amenities-list li > p, ul#selected-amenities-list li > a, ul#selected-amenities-list li > p {
  color: #20400B;
  display: block;
  width: 100%;
  transition: all 0.3s ease;
}
/* line 302, styles.scss */
ul#park-list li > a:hover, ul#park-list li > p:hover, ul#amenities-list li > a:hover, ul#amenities-list li > p:hover, ul#selected-amenities-list li > a:hover, ul#selected-amenities-list li > p:hover {
  color: #689F38;
  text-decoration: none;
  font-size: 1.2em;
  background-color: #f8f8f8;
}

/* line 313, styles.scss */
ul#park-amenities {
  list-style-type: none;
  padding-left: 0;
}
/* line 317, styles.scss */
ul#park-amenities .view {
  width: 110px;
  height: 110px;
  margin: 12px;
  border: 5px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3), 0px 0px 17px rgba(0, 0, 0, 0.25);
  cursor: default;
}
/* line 331, styles.scss */
ul#park-amenities .view .mask {
  width: 105px;
  height: 105px;
  position: absolute;
  overflow: hidden;
  top: -5px;
  left: -5px;
  opacity: 0;
  background-color: rgba(219, 127, 8, 0.7);
  transition: all 0.4s ease-in-out;
}
/* line 347, styles.scss */
ul#park-amenities .view i {
  display: block;
  position: relative;
  transition: all 0.2s linear;
}
/* line 357, styles.scss */
ul#park-amenities .view h6 {
  color: #fff;
  position: relative;
  font-size: 1em;
  padding: 10px;
  background: rgba(51, 105, 30, 0.75);
  margin: 30px 0 0 0;
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 380, styles.scss */
ul#park-amenities .view:hover i {
  transform: scale(1.1, 1.1);
}
/* line 388, styles.scss */
ul#park-amenities .view:hover .mask {
  opacity: 1;
}
/* line 392, styles.scss */
ul#park-amenities .view:hover h6 {
  opacity: 1;
  transform: translateY(0px);
}

/* line 405, styles.scss */
.park-center {
  padding-bottom: 1em;
}
/* line 407, styles.scss */
.park-center h3 {
  margin-bottom: 20px;
}
/* line 411, styles.scss */
.park-center a {
  display: block;
}

/* line 419, styles.scss */
.text-classes {
  font-size: 1.3em;
}

/* line 423, styles.scss */
.geolocate-button {
  margin: 0;
  width: 100%;
}

/* line 428, styles.scss */
.skip-button {
  margin-right: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

/* line 435, styles.scss */
.progress-spinner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
/* line 441, styles.scss */
.progress-spinner[md-mode="indeterminate"] {
  z-index: 30;
}

/* line 446, styles.scss */
#searchbox-container {
  position: absolute;
  z-index: 11;
  right: 100px;
  top: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
/* line 455, styles.scss */
#searchbox-container .icon-search {
  position: absolute;
  padding: 10px;
  width: 40px;
  height: 40px;
  z-index: 12;
  background-color: #fff;
  border: 2px solid #669834;
}
/* line 467, styles.scss */
#searchbox-container input#search-box {
  position: relative;
  width: 40px;
  height: 40px;
  opacity: 0;
  z-index: 13;
  cursor: pointer;
  -webkit-transform: all 0.25s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transform: all 0.25s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transform: all 0.25s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transform: all 0.25s cubic-bezier(0.345, 0, 0.25, 1);
  transition: all 0.25s cubic-bezier(0.345, 0, 0.25, 1);
}
/* line 480, styles.scss */
#searchbox-container input#search-box:focus {
  cursor: text;
  width: 250px;
  opacity: 1;
}

/* line 488, styles.scss */
.map-bottom-right {
  position: absolute;
  right: 5px;
  bottom: 10px;
  text-transform: capitalize;
}

/* line 495, styles.scss */
.capitalize {
  text-transform: capitalize;
}

/* line 508, styles.scss */
html, body, #map-canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 515, styles.scss */
#map-canvas, #mini-map {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* line 521, styles.scss */
.mb-20 {
  margin-bottom: 20px;
}

/* line 525, styles.scss */
.mb-10 {
  margin-bottom: 10px;
}

/* line 529, styles.scss */
.no-mb {
  margin-bottom: 0;
}

/* line 533, styles.scss */
.glyphicon-ok {
  color: #669834;
}

/* line 537, styles.scss */
.glyphicon-remove {
  color: #E63125;
}

/* line 541, styles.scss */
.glyphicon-padding {
  padding-bottom: 10px;
  padding-left: 10px;
}

/* line 548, styles.scss */
.panel-group .panel-body .panel-scrollable {
  max-height: 18.3em;
  overflow: auto;
  margin-right: -15px;
  padding-right: 15px;
  clear: right;
}
/* line 556, styles.scss */
.panel-group .panel-body .faded-edge-bottom {
  position: absolute;
  opacity: 1;
  height: 4em;
  width: 90%;
  border-radius: 5px;
  margin-left: -15px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  bottom: 73px;
  z-index: 10;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 574, styles.scss */
.panel-group .panel-body .faded-edge-bottom.v2 {
  bottom: 23px;
}
/* line 580, styles.scss */
.panel-group .panel-body:hover .faded-edge-bottom {
  height: 0.5em;
}

/* line 589, styles.scss */
.angular-google-map {
  flex: 1;
  display: flex;
  min-height: 35em;
}

/* line 595, styles.scss */
.angular-google-map-container {
  flex: 1;
}

/* line 599, styles.scss */
#mini-map {
  height: 20em;
}

/* line 603, styles.scss */
#activity-window, #park-window {
  opacity: 0;
  animation: show-me 0.3s ease-in 0s 1 normal;
  animation-fill-mode: forwards;
}

@keyframes show-me {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 624, styles.scss */
.full-height {
  height: 100%;
}

/* line 628, styles.scss */
.color-default {
  color: #2c3e50;
}

/* line 634, styles.scss */
.form-control:focus {
  border-color: #558b2f;
}

/* line 638, styles.scss */
.panel-primary {
  border-color: #61A035;
}
/* line 640, styles.scss */
.panel-primary .panel-heading {
  background-color: #61A035;
  border-color: #61A035;
}
/* line 644, styles.scss */
.panel-primary .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #61A035;
}

/* line 650, styles.scss */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > li > a:hover {
  background-color: #689F38;
}

/* line 657, styles.scss */
.dropdown-menu > .active > a:focus,
.dropdown-menu > li > a:focus {
  background-color: #558B2F;
}

/* line 664, styles.scss */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #61A035;
}

/* line 670, styles.scss */
.panel-group .panel + .panel {
  margin-top: 10px;
}

/* line 674, styles.scss */
.panel-group {
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* line 683, styles.scss */
.panel {
  margin-bottom: 0;
}

/* line 687, styles.scss */
.panel {
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

/* line 695, styles.scss */
#navbar {
  background: linear-gradient(to bottom, #61A035 0%, #519025 100%);
  background-color: #71B045;
}
/* line 701, styles.scss */
#navbar h1 {
  font-size: 24px;
}
/* line 705, styles.scss */
#navbar a:hover, #navbar a:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
}

/* line 712, styles.scss */
.footer {
  z-index: 1;
  max-height: 55px;
  padding-top: 0;
  border-top: 1px solid #e5e5e5;
  -webkit-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  transition: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
}
/* line 723, styles.scss */
.footer.collapsed {
  max-height: 0;
}
/* line 732, styles.scss */
.footer md-content {
  box-shadow: 0 -3px 7px 0 rgba(0, 0, 0, 0.19);
}
/* line 738, styles.scss */
.footer .layout-padding {
  padding: 4px 8px;
}
/* line 742, styles.scss */
.footer p {
  color: #777;
  margin: 0;
  padding: 2px;
  font-size: 13px;
}

/* line 751, styles.scss */
#collapse-footer {
  position: relative;
}
/* line 754, styles.scss */
#collapse-footer .collapse-button {
  position: absolute;
  transform: translate(0px, -2px);
  left: 0;
  top: -75px;
  z-index: 1;
  -webkit-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  transition: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
}
/* line 771, styles.scss */
#collapse-footer .collapse-button md-icon {
  color: #B71C1C;
  -webkit-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -moz-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -o-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  -ms-transform: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
  transition: all 0.6s cubic-bezier(0.345, 0, 0.25, 1);
}
/* line 780, styles.scss */
#collapse-footer .collapse-button.rotated {
  transform: translateY(20px) rotate(45deg);
}
/* line 787, styles.scss */
#collapse-footer .collapse-button.rotated md-icon {
  color: #55B53F;
}

/* line 794, styles.scss */
.layout-margin > ui-view, .layout-padding > ui-view {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 959px) {
  /* line 804, styles.scss */
  #flash span {
    font-size: 0.9em;
  }

  /* line 808, styles.scss */
  .layout-padding, .layout-padding-gt-sm, .layout-padding-md, .layout-padding > *, .layout-padding-gt-sm > *, .layout-padding-md > *, .layout-padding > .flex, .layout-padding > .flex-gt-sm, .layout-padding > .flex-md {
    padding: 6px 4px 8px;
  }

  /* line 813, styles.scss */
  #mobile-nav a {
    font-size: 18px;
  }

  /* line 818, styles.scss */
  .hide-on-mobile {
    display: none;
  }

  /* line 823, styles.scss */
  #navbar h1 {
    font-size: 20px;
  }

  /* line 828, styles.scss */
  #main-scrollable {
    flex-wrap: nowrap;
  }

  /* line 834, styles.scss */
  .course-details {
    max-height: 20em;
  }

  /* line 842, styles.scss */
  #searchbox-container {
    display: none;
  }
  /* line 845, styles.scss */
  #searchbox-container input#search-box:focus {
    width: 190px;
  }

  /* line 850, styles.scss */
  .footer {
    padding-top: 0;
  }
  /* line 853, styles.scss */
  .footer p {
    font-size: 0.8em;
    padding: 3px;
  }

  /* line 859, styles.scss */
  table {
    margin-top: 1em;
  }

  /* Force table to not be like tables anymore */
  /* line 864, styles.scss */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  /* line 869, styles.scss */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 875, styles.scss */
  tr {
    border: 1px solid #ccc;
  }

  /* line 879, styles.scss */
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 35% !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 889, styles.scss */
  td:before {
    content: attr(data-label);
    position: absolute;
    top: 10px;
    left: 8px;
    width: 30%;
    padding-right: 5px;
    white-space: nowrap;
  }
}

/*# sourceMappingURL=styles.css.map */