<uib-accordion close-others="settings.closeOthers" flex layout = "column">

  <uib-accordion-group  is-open = "settings.activities.status.open"
                        is-disabled="settings.activities.status.disabled"
                        panel-class = "panel-primary">
    
    <uib-accordion-heading>
      <span class = "accordion-heading" flex layout = "row">
        <span>I am Looking For</span>
        <span flex></span>
        <span> 
          <i  class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': settings.activities.status.open, 'glyphicon-chevron-right': !settings.activities.status.open}">
          </i>
        </span>
      </span>
    </uib-accordion-heading>

    <activities-selection layout="column" flex></activities-selection>

  </uib-accordion-group>

  <uib-accordion-group  is-open = "settings.parks.status.open"
                        is-disabled="settings.parks.status.disabled"
                        panel-class = "panel-primary">
    
    <uib-accordion-heading>
      <span class = "accordion-heading" flex layout = "row">
        <span>Find a Park</span>
        <span flex></span>
        <span> 
          <i  class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': settings.parks.status.open, 'glyphicon-chevron-right': !settings.parks.status.open}">
          </i>
        </span>
      </span>
    </uib-accordion-heading>


    <div class="row">
      <div class="col-md-12">

        <md-input-container class="md-icon-float md-block no-mb">
          <label>Park Name</label>
          <md-icon md-font-icon="fa-search" class = "fa fa-lg"></md-icon>
          <input  type="search"
                  id = "searchParkName"
                  ng-model="parkSelected"
                  typeahead-no-results = "noParkResults"
                  typeahead-on-select = "centerToPark($item, $model, $label)"
                  typeahead-select-on-exact = "true"
                  uib-typeahead="park as park.name for park in parks.content | filter:$viewValue | limitTo:8">
        </md-input-container>

      </div>

      <div class = "col-md-12 mb-10" ng-show="noParkResults">
        <i class="glyphicon glyphicon-remove"></i> No Parks With This Name
      </div>
    </div>

    <div class = "panel-scrollable" scrolling-buttons>

      <a ng-click="sortVar = nearestPark">Test Sort</a>

      <ul id = "park-list">
        <li ng-repeat="park in parks.content | filter: { name: parkSelected.name } | orderBy: sortVar | limitTo: parksLimit as filteredParks ">
          <a  ng-click="centerToPark(park)" 
              du-smooth-scroll="map-canvas">
            <span class = "park-title">
              <i class = "glyphicon glyphicon-tree-deciduous"></i> {{ park.name }}
            </span>
            <span class = "park-distance" ng-show="park.distance">
              <i class = "fa fa-fw fa-location-arrow"></i> Apx. <b>{{ park.distance * 85 | number: 1 }} mi</b>
            </span>
          </a>
        </li>          
      </ul>

      <p class="font-p-sm">
        Listing the nearest {{ (filteredParks.length <= 1) ? 'park' : '' + filteredParks.length + ' parks' }}. <a ng-click="showAll()" ng-show="parksLimit < parks.content.length && !parkSelected.name"> List all</a>
      </p>
    
    </div>

  </uib-accordion-group>

</uib-accordion>