<uib-accordion close-others="settings.closeOthers" flex layout = "column">

  <uib-accordion-group  is-open = "settings.activities.status.open"
                        is-disabled="settings.activities.status.disabled"
                        panel-class = "panel-primary">
    
    <uib-accordion-heading>
      <span class = "accordion-heading" flex layout = "row">
        <span>I am Looking For</span>
        <span flex></span>
        <span> 
          <i  class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': settings.activities.status.open, 'glyphicon-chevron-right': !settings.activities.status.open}">
          </i>
        </span>
      </span>
    </uib-accordion-heading>

    

    



  </uib-accordion-group>

  <uib-accordion-group  is-open = "settings.parks.status.open"
                        is-disabled="settings.parks.status.disabled"
                        panel-class = "panel-primary">
    
    <uib-accordion-heading>
      <span class = "accordion-heading" flex layout = "row">
        <span>Find a Park</span>
        <span flex></span>
        <span> 
          <i  class="pull-right glyphicon"
              ng-class="{'glyphicon-chevron-down': settings.parks.status.open, 'glyphicon-chevron-right': !settings.parks.status.open}">
          </i>
        </span>
      </span>
    </uib-accordion-heading>



    



  </uib-accordion-group>

</uib-accordion>