<p ng-if="classes.sections.length <= 0" class = "text-classes">No scheduled classes in this park.</p>

<div class="row" ng-if="classes.sections.length > 0">
	<div class="col-sm-4">
		
		<uib-tabset vertical="{{ classesTabs.vertical }}"
								justified = "{{ classesTabs.justified }}" 
								type="{{ classesTabs.type }}">

		  <uib-tab 	ng-repeat="section in classes.sections" 
		  					heading="{{section.name}}" 
		  					active="section.active" 
		  					disable="section.disabled"
		  					select = "goToSection(section.name)">
    	</uib-tab>


		</uib-tabset>
		
	</div>
	<div class="col-sm-8">
		
		<ui-view></ui-view>

	</div>
</div>
