<footer id="footer" layout = "row">
  
  <div layout = "column" flex>
    <p class="limit-text" flex>
      Copyright © 2015-2016 | <a class="text-primary" href = "https://www.raleighnc.gov/" target="_blank">raleighnc.gov</a>
    </p>
    <p class="limit-text" flex>
      Made with <i class = "fa fa-heart"></i> by CORaleigh GIS team 
    </p>
  </div>

  <div class = "small-font" layout="row">
    <md-button aria-label="Icon pack by Icons8" href="https://icons8.com" target="_blank" class="md-icon-button">
      <md-tooltip md-direction = "top">
        Icon pack by Icons8
      </md-tooltip>
      <md-icon md-svg-icon="/img/icons/icons8.svg"></md-icon>
    </md-button>
    
    <md-button aria-label="View Source Code on Github" href="https://github.com/david-meza/park-locator/issues" target="_blank" class="md-icon-button">
      <md-tooltip md-direction = "top">
        Submit an issue or bug
      </md-tooltip>
      <md-icon md-svg-icon="/img/icons/github.svg"></md-icon>
    </md-button>
  </div> 

</footer>