<div id="map-canvas">


  <div id="searchbox-container">
    <i class = "fa fa-search icon-search"></i>
  </div>

  <ui-gmap-google-map center='map.location.coords'
                      zoom='map.zoom'
                      options = 'map.options'
                      dragging='map.dragging'
                      refresh='map.refresh'
                      pan='map.pan'
                      events = 'map.events'
                      control = 'map.control' >


    <ui-gmap-search-box template="map.searchbox.template"
                        events="map.searchbox.events"
                        position = "map.searchbox.position"
                        options = "map.searchbox.options"
                        parentdiv = "'searchbox-container'">
    </ui-gmap-search-box>


    <ui-gmap-marker idKey='map.myLocationMarker.id'
                    coords='map.myLocationMarker.coords'
                    options = "map.myLocationMarker.options">
    </ui-gmap-marker>

    <ui-gmap-markers  models="map.parkMarkers.content"
                      coords="'self'"
                      icon="'icon'"
                      click="onMarkerClicked()"
                      type = "map.markersConfig.type"
                      typeOptions = "map.markersConfig.typeOptions"
                      typeEvents = "map.markersConfig.typeEvents"
                      modelsbyref="true"
                      fit = "true"
                      options="'options'"
                      events="map.parkMarkerEvents">


        <ui-gmap-windows  isIconVisibleOnClick = "true"
                          show="'showWindow'"
                          closeClick="'closeClick'" ng-cloak>
            
            <div>
              <h5 ng-non-bindable> {{ name }} </h5>
              <p ng-non-bindable> {{ address }} </p>
              <br>
              <a target="_blank" href="http://www.raleighnc.gov">raleighnc.gov</a>
              <p ng-non-bindable class="text-muted"> {{ phone }}</p>
            </div>

        </ui-gmap-windows>

    </ui-gmap-markers>



    <ui-gmap-markers  models="showMarkers()"
                      coords="'self'"
                      icon="'icon'"
                      click="onMarkerClicked()"
                      type = "activities.markersConfig.type"
                      typeOptions = "activities.markersConfig.typeOptions"
                      typeEvents = "activities.markersConfig.typeEvents"
                      modelsbyref = "true">
    </ui-gmap-markers>



    <ui-gmap-window show="activityWindow.show" 
                    coords="activityWindow.coords"
                    control = "activityWindow.control" 
                    options="activityWindow.options" 
                    closeclick="activityWindow.closeclick"
                    templateurl = "activityWindow.templateUrl"
                    templateparameter = "activityWindow.templateParameter"
                    ng-cloak>
    </ui-gmap-window>


  </ui-gmap-google-map>
    
</div>