<md-toolbar layout = "row" id = "navbar" class="gradient-primary">
  <div class="md-toolbar-tools" layout="row" layout-align="start center">

    <md-button class="md-icon-button" aria-label="open menu side nav" hide-gt-sm ng-click="toggleSidenav()">
      <md-icon md-svg-icon="/img/icons/menu.svg"></md-icon>
    </md-button>
    
    <h1 layout = "row" hide-xs hide-sm>
      <a ui-sref = "home">{{ ::title }}</a>
    </h1>

    <div flex hide-gt-sm id="mobile-nav" layout = "row" layout-align = "space-around stretch">
      
      <div class = "nav-item" flex>
        <a ng-click="scrollTo('search')">Search</a>
      </div>
      
      <div class = "nav-item" flex>
        <a ng-click="scrollTo('map-canvas')">Map</a>
      </div>
      
      <div class = "nav-item" flex>
        <a ng-click="scrollTo('panels-section')">Park</a>
      </div>

    </div>

    <md-progress-circular class="md-accent md-hue-2 progress-spinner" md-mode="{{ progress }}" md-diameter="55"></md-progress-circular>
  
  </div>
</md-toolbar>