<h3 class="text-center">What kind of classes interest you?</h3>

<div id = "class-sections" flex layout = "row" layout-wrap layout-align = "center stretch">
  <md-card ng-repeat="section in classes.sections" ng-click="goToSection(section.urlName)" class="icon-card">
    
    <md-card-content>
      <md-icon class="icon-contain" md-svg-icon="{{ ::section.icon }}" alt="{{ ::section.name }}"></md-icon>
    </md-card-content>
    
    <md-card-footer>
      <h3 class="limit-text capitalize icon-name">{{ ::section.name }}</h3>
    </md-card-footer>
  </md-card>          
</div>