<div layout="row" layout-align="start center">
	<md-input-container class="md-icon-float md-block">
	  <label>Search</label>
	  <md-icon md-svg-src="img/icons/search.svg" class="search-icon"></md-icon>
	  <input ng-model="textSearch" type="search">
	  <div class="hint">You can search by any one term: e.g. Yoga or Pottery or 5:30PM</div>
	</md-input-container>

	<span flex></span>
	
	<md-button class="md-primary md-hue-1 back-to-sections" ui-sref="^">Back To Sections</md-button>
</div>


<div class="course-details" layout="row" layout-wrap layout-align="center center">
<!-- 	<table class = "table table-striped">
		<thead>
			<th>
				<a ng-click="sortBy('COURSE')" >
					<i class="fa fa-group"></i> Course <i class="fa fa-pad-right" ng-show = "sortQuery === 'COURSE' " ng-class = "{ 'fa-sort-desc': !reverse, 'fa-sort-asc': reverse }"></i> 
				</a>
			</th>
			<th>
				<a ng-click="sortBy('ACTIVITY')" >
					<i class="fa fa-group"></i> Activity <i class="fa fa-pad-right" ng-show = "sortQuery === 'ACTIVITY' " ng-class = "{ 'fa-sort-desc': !reverse, 'fa-sort-asc': reverse }"></i>
				</a>
			</th>
			<th>
				<a ng-click="sortBy('sDate')" >
					<i class="fa fa-calendar"></i> Start Date <i class="fa fa-pad-right" ng-show = "sortQuery === 'sDate' " ng-class = "{ 'fa-sort-desc': !reverse, 'fa-sort-asc': reverse }"></i>
				</a>
			</th>
		</thead>

	</table> -->
	<div  class="md-card" ng-class-odd="'odd-card'"
	      ng-repeat="course in classes[sectionName] | filter: textSearch | orderBy: sortQuery : reverse | limitTo: coursesLimit as filteredCourses" 
	      flex="100" flex-gt-xs="45" flex-gt-md="30">
	  
	  <div class="md-card-content" layout="column">
	    <span class="limit-text class-detail" flex> <b>Course:</b> {{ course.COURSE || 'No Course Preview' }} </span>
			<span class="limit-text class-detail" flex> <b>Activity:</b> {{ course.ACTIVITY || 'No Activity Preview' }} </span>
			<span class="limit-text class-detail" flex> <b>Start Date:</b> {{ (course.START_DATE | date : 'MMM d, y h:mm a') || 'No Date Specified' }} </span>
	  </div>
	  

	  <div layout="row" layout-align="end center" class = "card-actions md-card-actions">
	    <md-button 	ng-href="https://reclink.raleighnc.gov/Activities/ActivitiesCourseDetails.asp?aid={{course.ACTIVITY_ID}}&cid={{course.COURSE_ID}}" 
					    		target="_blank"
					    		class="md-accent more-info"
					    		aria-label="Learn more about this course"> 
		    <md-tooltip md-direction = "top">Please click again if there is a cookies alert.</md-tooltip>
	      <md-icon aria-label="External Link" md-svg-icon="/img/icons/external-link.svg"></md-icon>
	    	More
	    </md-button> 
	  </div>


	</div>
</div>

<p style="margin-top: 10px;">Showing {{ notShowingAllResults() ? ('the first ' + coursesLimit) : (filteredCourses.length) }} {{ filteredCourses.length === 1 ? 'result' : 'results' }}. <a ng-click="showAll()" class="text-primary" ng-if="notShowingAllResults()">Show all</a></p>