<div layout="row" layout-align="start center">
	<md-input-container class="md-icon-float md-block classes-search-container">
	  <label>Search</label>
	  <md-icon md-svg-src="img/icons/search.svg" class="search-icon"></md-icon>
	  <input ng-model="textSearch" type="search">
	  <div class="hint">You can search by any one term: e.g. Yoga or Pottery or 5:30PM</div>
	</md-input-container>

	<span flex></span>
	
	<md-button class="md-primary md-hue-1 back-to-sections" ui-sref="^">Back To Sections</md-button>
</div>

<div layout="row" layout-align="start center" style="height:40px;">
	<span class="text-primary text-before-dropdown">Show classes starting with</span>
	<md-select  ng-model = "sortQuery" 
	            aria-label = "Sort course details" 
	            class = "inline-dropdown text-primary" 
	            md-container-class = "inline-dropdown">
	  <md-option ng-value="::option" ng-repeat="option in sortOptions">{{ ::option.view }}</md-option>
	</md-select>
</div>


<div class="course-details" layout="row" layout-wrap layout-align="space-between center">

	<div  class="md-card" ng-class-odd="'odd-card'"
	      ng-repeat="course in classes[sectionName] | filter: textSearch | orderBy: sortQuery.model as filteredClasses" 
	      flex="100" flex-gt-xs="45" flex-gt-md="30">
	  
	  <div class="md-card-content" layout="column">
	    <span class="limit-text class-detail" flex> 
	    	<md-icon md-svg-icon="/img/icons/classes/course.svg" class="icon-course"></md-icon> 
	    	<b>Course:</b> {{ course.COURSE || 'No Course Preview' }} 
	    </span>
			<span class="limit-text class-detail" flex> 
				<md-icon md-svg-icon="/img/icons/classes/activity.svg" class="icon-activity"></md-icon> 
				<b>Activity:</b> {{ course.ACTIVITY || 'No Activity Preview' }} 
			</span>
			<span class="limit-text class-detail" flex> 
				<md-icon md-svg-icon="/img/icons/classes/calendar.svg" class="icon-start-date"></md-icon> 
				<b>Start Date:</b> {{ (course.START_DATE | date : 'MMM d, y h:mm a') || 'No Date Specified' }} 
			</span>
	  </div>
	  

	  <div layout="row" layout-align="end center" class = "card-actions md-card-actions">
	    <md-button 	ng-href="https://reclink.raleighnc.gov/Activities/ActivitiesCourseDetails.asp?aid={{course.ACTIVITY_ID}}&cid={{course.COURSE_ID}}" 
					    		target="_blank"
					    		class="md-accent more-info"
					    		aria-label="Learn more about this course"> 
		    <md-tooltip md-direction = "top">Please click again if there is a cookies alert.</md-tooltip>
	      <md-icon aria-label="External Link" md-svg-icon="/img/icons/external-link.svg"></md-icon>
	    	More
	    </md-button> 
	  </div>

	</div>
</div>

<h4 ng-hide="filteredClasses.length"><strong>Oops!</strong> There are no results matching this search. Try different terms.</h4>
