<md-dialog aria-label="Map Icons Key">
  <md-toolbar class="gradient-primary">
    <div class="md-toolbar-tools">
      
      <h2>Map Icons Key</h2>
      
      <span flex></span>
      
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-font-icon="fa-times" class = "fa fa-2x" aria-label="Close dialog"></md-icon>
      </md-button>
    
    </div>
  </md-toolbar>

  
  <md-content id="map-icons-dialog-content">

    <md-subheader class="md-primary md-no-sticky">You</md-subheader>
    
    <md-list class = "map-icons-list">
      <div layout="row" layout-xs="column" layout-align = "start stretch"> 
        <md-list-item flex = "100" flex-gt-xs = "50" flex-gt-sm = "33">
          <img src = "/img/icons/my-location.svg" class="md-avatar" alt="location tracking" />
          <span class="list-item-text">You are here (location tracking)</span>
        </md-list-item>

        <md-list-item flex = "100" flex-gt-xs = "50" flex-gt-sm = "33">
          <img src = "/img/icons/user-marker.svg" class="md-avatar" alt="user marker" />
          <span class="list-item-text">Point of Reference (distance to parks)</span>
        </md-list-item>
      </div>
    </md-list>

    <md-divider></md-divider>

    <md-subheader class="md-primary md-no-sticky">Park Icons</md-subheader>
    
    <md-list class = "map-icons-list">  
      <div layout="row" layout-xs="column" layout-align = "start stretch">  
        <md-list-item flex = "100" flex-gt-xs = "50" flex-gt-sm = "33">
          <img src="/img/icons/park-marker.svg" class="md-avatar" alt="Park Pin (Location)" />
          <span class="list-item-text">Park Marker</span>
        </md-list-item>
      </div>
    </md-list>
      
    <md-divider></md-divider>
    
    <md-subheader class="md-primary md-no-sticky">Activity Icons</md-subheader>
      
    <md-list class = "map-icons-list">
      <div layout="row" layout-xs = "column" layout-wrap layout-align = "start stretch">
        <md-list-item ng-repeat="activity in activities" flex = "100" flex-gt-xs = "50" flex-gt-sm = "33">
          <img class="md-avatar" ng-src="{{ ::activity.icon }}" alt="{{ ::activity.name }}" />
          <span class="list-item-text">{{ ::activity.name }}</span>
        </md-list-item>
      </div>
    </md-list>


    <md-divider></md-divider>
    
    <md-subheader class="md-primary md-no-sticky">Miscellaneous</md-subheader>
      
    <md-list class = "map-icons-list">
      <div layout="row" layout-xs="column" layout-align = "start stretch" layout-wrap>  
        <md-list-item flex = "100" flex-gt-xs = "50" flex-gt-sm = "33">
          <img src="/img/icons/activities/restroom.svg" class="md-avatar" alt="Restroom" />
          <span class="list-item-text">Restroom</span>
        </md-list-item>
        
        <md-list-item flex = "100" flex-gt-xs = "50" flex-gt-sm = "33">
          <img src = "/img/icons/activities/tennis-center.svg" class="md-avatar" alt="Tennis Center" />
          <span class="list-item-text">Tennis Center</span>
        </md-list-item>

        <md-list-item flex = "100" flex-gt-xs = "50" flex-gt-sm = "33">
          <img src = "/img/icons/activities/library.svg" class="md-avatar" alt="Library" />
          <span class="list-item-text">Library</span>
        </md-list-item>
      </div>
    </md-list>
  </md-content>
  

  <md-dialog-actions layout="row">
    <md-button ng-click="answer('ok')" md-autofocus>
      Ok!
    </md-button>
  </md-dialog-actions>

</md-dialog>