<md-dialog aria-label="Map Icons Key">
  <form>

    <md-toolbar>
      <div class="md-toolbar-tools">
        
        <h2>Map Icons Key</h2>
        
        <span flex></span>
        
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-icon="fa-times" class = "fa fa-2x" aria-label="Close dialog"></md-icon>
        </md-button>
      
      </div>
    </md-toolbar>

    
    <md-dialog-content style = "max-width:800px;max-height:810px; " md-theme="altTheme">
      <md-list>

        
        <md-subheader class = "">Miscellaneous</md-subheader>
        
        <div layout="row" layout-xs="column" layout-align = "start stretch"> 
          <md-list-item flex = "50" flex-gt-sm = "33">
            <img src = "https://s3.amazonaws.com/davidmeza/Park_Locator/user.png" class="md-avatar" alt="user" />
            <div class="md-list-item-text">
              <h4>You are here</h4>
            </div>
          </md-list-item>

          <md-list-item flex = "50" flex-gt-sm = "33">
            <i class = "md-avatar icon-bg icon-bg-lg restroom-lg" alt="{{ amenitiesService['Restroom'].name }}"></i>
            <div class="md-list-item-text">
              <h4>{{ amenitiesService['Restroom'].name }}</h4>
            </div>
          </md-list-item>
        </div>

        <md-divider ></md-divider>

        <md-subheader class = "">Park Icons</md-subheader>
        
        <div layout="row" layout-xs="column" layout-align = "start stretch">  
          <md-list-item flex = "50" flex-gt-sm = "33">
            <img src = "https://s3.amazonaws.com/davidmeza/Park_Locator/tree-small.png" class="md-avatar" alt="Park Location" />
            <div class="md-list-item-text">
              <h4>Park Marker</h4>
            </div>
          </md-list-item>
          
          <md-list-item flex = "50" flex-gt-sm = "33">
            <img src = "https://s3.amazonaws.com/davidmeza/Park_Locator/park-icon-small.png" class="md-avatar" alt="Park Location" />
            <div class="md-list-item-text">
              <h4>Parks Cluster</h4>
            </div>
          </md-list-item>
        </div>
        
        
        <md-divider ></md-divider>
        
        <md-subheader class = "">Activity Icons</md-subheader>
        
        <div layout="row" layout-xs = "column" layout-wrap layout-align = "start stretch">
          <md-list-item ng-repeat="activity in activities | orderBy: 'name' " flex = "50" flex-gt-sm = "33">
            <i class = "md-avatar icon-bg icon-bg-lg" ng-class="activity.imageDataLg" alt="{{ activity.name }}"></i>
            <div class="md-list-item-text">
              <h4>{{ activity.name }}</h4>
            </div>
          </md-list-item>
        </div>
      

      </md-list>
    </md-dialog-content>
    

    <md-dialog-actions layout="row">
      <md-button ng-click="answer('ok')" style="margin-right:10px;" md-autofocus>
        Ok!
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>