<div id="map-canvas">

  <div id = "flash" flash-message="5000" ></div>

  <ui-gmap-google-map center='map.location.coords'
                      zoom='map.zoom'
                      options = 'map.options'
                      dragging='map.dragging'
                      refresh='map.refresh'
                      pan='map.pan'
                      events = 'map.events'
                      control = 'map.control' >


    <ui-gmap-search-box template="map.searchbox.template"
                        events="map.searchbox.events">
    </ui-gmap-search-box>


    <ui-gmap-marker idKey='map.myLocationMarker.id'
                    coords='map.myLocationMarker.coords'
                    options = "map.myLocationMarker.options">
    </ui-gmap-marker>

    <ui-gmap-markers  models="map.parkMarkers.content"
                      coords="'self'"
                      icon="'icon'"
                      click="onMarkerClicked()"
                      type = "map.markersConfig.type"
                      typeOptions = "map.markersConfig.typeOptions"
                      typeEvents = "map.markersConfig.typeEvents"
                      modelsbyref="true"
                      options="'options'"
                      events="map.parkMarkerEvents">


        <ui-gmap-windows  isIconVisibleOnClick = "true"
                          show="'showWindow'"
                          closeClick="'closeClick'" ng-cloak>
            
            <div>
              <h5 ng-non-bindable> {{ name }} </h5>
              <p ng-non-bindable> {{ address }} </p>
              <br>
              <a target="_blank" href="http://www.raleighnc.gov">raleighnc.gov</a>
              <p ng-non-bindable class="text-muted"> {{ phone }}</p>
              <br>
              <a ng-non-bindable ng-href="{{ url }}" target="_blank">More info</a>
            </div>

        </ui-gmap-windows>

    </ui-gmap-markers>

  </ui-gmap-google-map>
    
</div>