<back-to-top>
  <md-button  class="md-accent md-raised md-fab md-mini" 
              aria-label="Back to Top"
              ng-click="scroll()">
    <md-icon md-font-icon="fa-angle-double-up" class = "fa fa-lg"></md-icon>
  </md-button>
</back-to-top>

<div flex = "grow" flex-gt-sm = "30" flex-order = "1" layout = "column" id = "search" >
  <accordion-menu></accordion-menu>
</div>   

<div flex = "grow" flex-gt-sm = "70" flex-order = "2" layout = "column">
  <main-map></main-map>
</div>  
 
<div ui-view id="panels-section" flex flex-order = "3" layout = "column" layout-align = "space-between stretch"></div>