<div class="row">
  <div class="col-md-4">

    <uib-accordion close-others="settings.closeOthers">

      <uib-accordion-group  is-open = "settings.first.status.open"
                            is-disabled="settings.first.status.disabled"
                            >
        <uib-accordion-heading>
          Set Location <i class="pull-right glyphicon" 
                          ng-class="{'glyphicon-chevron-down': settings.first.status.open, 'glyphicon-chevron-right': !settings.first.status.open}"></i>
        </uib-accordion-heading>
        Content here!
      </uib-accordion-group>

      <uib-accordion-group  is-open = "settings.second.status.open"
                            is-disabled="settings.second.status.disabled"
                            >
        <uib-accordion-heading>
          Select an Activity <i class="pull-right glyphicon" 
                          ng-class="{'glyphicon-chevron-down': settings.second.status.open, 'glyphicon-chevron-right': !settings.second.status.open}"></i>
        </uib-accordion-heading>
        Content here!
      </uib-accordion-group>

      <uib-accordion-group  is-open = "settings.third.status.open"
                            is-disabled="settings.third.status.disabled"
                            >
        <uib-accordion-heading>
          Select a Park <i class="pull-right glyphicon" 
                          ng-class="{'glyphicon-chevron-down': settings.third.status.open, 'glyphicon-chevron-right': !settings.third.status.open}"></i>
        </uib-accordion-heading>
        Content here!
      </uib-accordion-group>

    </uib-accordion>
    
  </div>   


  <div ui-view = "map" class="col-md-8">
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <h2 class="text-center">Activities</h2>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-default">
        <h2 class="text-center">Classes</h2>
      </div>

    </div>
  </div>

</div>


