<div class="row mb-20">
  <div class="col-md-4">

    <uib-accordion close-others="settings.closeOthers">

      <uib-accordion-group  is-open = "settings.first.status.open"
                            is-disabled="settings.first.status.disabled"
                            >
        <uib-accordion-heading>
          Set my Location <i class="pull-right glyphicon" 
                          ng-class="{'glyphicon-chevron-down': settings.first.status.open, 'glyphicon-chevron-right': !settings.first.status.open}"></i>
        </uib-accordion-heading>

        <input type = "text" class="form-control" id="autocomplete" placeholder = "Enter your address or location">

        <button class="btn btn-success btn-block" ng-click="geoLocate()">Use my current location!</button>

      </uib-accordion-group>

      <uib-accordion-group  is-open = "settings.second.status.open"
                            is-disabled="settings.second.status.disabled"
                            >
        <uib-accordion-heading>
          Filter by Activity <i class="pull-right glyphicon" 
                          ng-class="{'glyphicon-chevron-down': settings.second.status.open, 'glyphicon-chevron-right': !settings.second.status.open}"></i>
        </uib-accordion-heading>

        <div ng-show="selectedActivities.length > 0">
          <h5>Selected</h5>

          <ul id = "selected-amenities-list">
            <li ng-repeat="amenity in selectedActivities | orderBy: 'name'">
              <p ng-mouseenter="amenityHover = true" ng-mouseleave="amenityHover = false">
                <img ng-src="data:image/png;base64,{{amenity.imageData}}" /> {{ amenity.name }} 
                <a ng-click="removeSelected(amenity)">
                  <i  class="pull-right glyphicon glyphicon-ok" 
                      ng-class="{ 'glyphicon-ok': !amenityHover, 'glyphicon-remove': amenityHover }"></i>  
                </a>
              </p>
            </li>          
          </ul>
        </div>

        <div>
          <h5>Not Selected</h5>

          <ul id = "amenities-list">
            <li ng-repeat="amenity in amenities.uniques | orderBy: 'name'">
              <a ng-click="addToSelected(amenity)">
                <img ng-src="data:image/png;base64,{{amenity.imageData}}" /> {{ amenity.name }} 
              </a>
            </li>          
          </ul>          
        </div>
        
      </uib-accordion-group>

      <uib-accordion-group  is-open = "settings.third.status.open"
                            is-disabled="settings.third.status.disabled"
                            >
        <uib-accordion-heading>
          Select a Park <i class="pull-right glyphicon" 
                          ng-class="{'glyphicon-chevron-down': settings.third.status.open, 'glyphicon-chevron-right': !settings.third.status.open}"></i>
        </uib-accordion-heading>

        <div class="row mb-20">
          <div class="col-md-4">
            <label for = "searchParkName">Search</label>
          </div>

          <div class="col-md-8">
            <input  type="text"
                    id = "searchParkName" 
                    ng-model="parkSelected"
                    typeahead-no-results = "noResults"
                    typeahead-on-select = "centerToPark($item, $model, $label)"
                    uib-typeahead="park as park.name for park in parks.content | filter:$viewValue | limitTo:8" 
                    class="form-control">            
          </div>

          <div class = "col-md-12" ng-show="noResults">
            <br>
            <i class="glyphicon glyphicon-remove"></i> No Parks With This Name
          </div>
        </div>

        
        <ul id = "park-list">
          <li ng-repeat="park in parks.content | filter: { name: parkSelected.name }">
            <a ng-click="centerToPark(park)" scroll-to="map-canvas">
              <i class = "glyphicon glyphicon-tree-deciduous"></i> {{ park.name }}
            </a>
          </li>          
        </ul>

      </uib-accordion-group>

    </uib-accordion>
    
  </div>   


  <div ui-view="map" class="col-md-8"></div>

</div>

<div id="panels-section" ng-if="parks.currentPark">
  
  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">General Information</h2>
        </div>
        <div class="panel-body">

          <div class="row">
            
            <div class="col-md-4 text-center">

              <img class = "img-responsive img-thumbnail" ng-src="http://maps.raleighnc.gov/parklocator/images/photos/{{ parks.currentPark.name }}.jpg">

            </div>

            <div class="col-md-4 text-center park-center">

              <h3>{{ parks.currentPark.name }}</h3>
              <p> {{ parks.currentPark.address }}</p>
              <p> <i class = "glyphicon glyphicon-phone"></i> {{ parks.currentPark.phone }}</p>
              <a ng-href="{{ parks.currentPark.url }}" target="_blank">Website</a>
              <a ng-click="setDirections()"> <i class = "glyphicon glyphicon-flag"></i> Google Directions</a>

            </div>

            <div class="col-md-4">

              <!-- <mini-map></mini-map> -->

              <div id="mini-map"></div>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Activities</h2>
        </div>
        <div class="panel-body">

          <p>{{ parks.currentPark }}</p>

          <ul id = "amenities-list">
            <li ng-repeat="amenity in amenities.uniques | parkAmenities: parks.currentPark | orderBy: 'name'">
              <p>
                <img ng-src="data:image/png;base64,{{amenity.imageData}}" /> {{ amenity.name }} 
              </p>
            </li>          
          </ul>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Classes</h2>
        </div>
        <div class="panel-body">

          <p>Coming Soon!</p>

        </div>
      </div>

    </div>
  </div>

</div>




