<div id="panels-section">
  
  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">General Information</h2>
        </div>
        <div class="panel-body">

          <div class="row">
            
            <div class="col-md-4 text-center">

              <div class="img-container">
                <img  class = "img-responsive img-thumbnail img-vertical-center" 
                      fallback-src = "https://s3.amazonaws.com/davidmeza/Park_Locator/nophoto.png"
                      ng-src="http://maps.raleighnc.gov/parklocator/images/photos/{{ parks.currentPark.name }}.jpg">
              </div>


            </div>

            <div class="col-md-4 text-center park-center">

              <h3>{{ parks.currentPark.name }}</h3>
              <p> <i class = "fa fa-map-marker"></i> {{ parks.currentPark.address }}</p>

              <p> <i class = "glyphicon glyphicon-phone"></i> {{ parks.currentPark.phone }}</p>
              
              <p ng-if = "routeData.duration"> 
                If you leave now, you could be here in <span ng-class="durationColoring"> <i class = "fa fa-car"></i> {{ routeData.duration }}</span> 
              </p>
              
              <p ng-if = "routeData.distance"> 
                You are <span ng-class="distanceColoring"> <i class = "fa fa-location-arrow"></i> {{ routeData.distance }}</span> away
              </p>
              
              <a ng-href="{{ parks.currentPark.url }}" target="_blank"> 
                <i class = "glyphicon glyphicon-info-sign"></i> Website
              </a>

              <a ng-href = "https://www.google.com/maps/dir/{{myLoc.latitude}},{{myLoc.longitude}}/{{parks.currentPark.latitude}},{{parks.currentPark.longitude}}" target="_blank"> 
                <i class = "glyphicon glyphicon-flag"></i> Google Directions
              </a>

            </div>

            <div class="col-md-4">

              <!-- <mini-map></mini-map> -->

              <div id="mini-map"></div>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Activities</h2>
        </div>
        <div class="panel-body">

          <p>{{ parks.currentPark }}</p>

          <ul id = "amenities-list">
            <li ng-repeat="amenity in amenities.uniques | parkAmenities: parks.currentPark | orderBy: 'name'">
              <p>
                <img ng-src="data:image/png;base64,{{amenity.imageData}}" /> {{ amenity.name }} 
              </p>
            </li>          
          </ul>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Classes</h2>
        </div>
        <div class="panel-body">

          <p>Coming Soon!</p>

        </div>
      </div>

    </div>
  </div>

</div>