<div id="panels-section">
  
  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">General Information</h2>
        </div>
        <div class="panel-body">

          <div class="row">
            
            <div class="col-md-4 col-sm-6 text-center">

              <div class="img-container">
                <img  class = "img-responsive img-thumbnail img-vertical-center" 
                      fallback-src = "https://s3.amazonaws.com/davidmeza/Park_Locator/nophoto.png"
                      ng-src="https://maps.raleighnc.gov/parklocator/images/photos/{{ parks.currentPark.name }}.jpg">
              </div>


            </div>

            <div class="col-md-4 col-sm-6 park-center">

              <h3 class="text-center">{{ parks.currentPark.name }}</h3>

              <div class="park-details-list">
                <p> <i class = "fa fa-fw fa-map-marker"></i> {{ parks.currentPark.address }}</p>

                <p> <i class = "fa fa-fw fa-mobile"></i> {{ parks.currentPark.phone }}</p>
                
                <p ng-if = "routeData.duration"> 
                  <i class = "fa fa-fw" ng-class = "travelMode"></i> If you leave now, you could be here in <span ng-class="durationColoring"> {{ routeData.duration }}</span> 
                </p>
                
                <p ng-if = "routeData.distance"> 
                  <i class = "fa fa-fw fa-location-arrow"></i> You are <span ng-class="distanceColoring"> {{ routeData.distance }}</span> away
                </p>
                
                <a ng-href="{{ parks.currentPark.url }}" target="_blank"> 
                  <i class = "fa fa-fw fa-info-circle color-default"></i> Park Website
                </a>

                <a ng-href = "https://www.google.com/maps/dir/{{myLoc.latitude}},{{myLoc.longitude}}/{{parks.currentPark.latitude}},{{parks.currentPark.longitude}}" target="_blank"> 
                  <i class = "fa fa-fw fa-compass color-default"></i> Get Directions
                </a>
              </div>

            </div>

            <div class="col-md-4 col-sm-10 col-xs-12 col-md-offset-0 col-sm-offset-1 col-xs-offset-0">

              <div id="mini-map"></div>

            </div>

          </div>

        </div>
      </div>

    </div>

  </div>

  <div class="row" ng-if="(mergedActivities | parkAmenities: parks.currentPark).length > 0">
    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Activities</h2>
        </div>
        <div class="panel-body">

          <ul id = "park-amenities">
            <li ng-repeat="amenity in mergedActivities | parkAmenities: parks.currentPark | orderBy: 'name'">
              
              <a ng-click="showAmenityInMap(amenity)">
                
                <div class="view">
                  <img class = "activity-img" ng-src="data:image/png;base64,{{amenity.imageDataLg}}" />
                  <div class="mask">  
                    <h6>{{ amenity.name }}</h6>  
                  </div>  
                </div>
              
              </a>

            </li>          
          </ul>

        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h2 class="panel-title">Classes</h2>
        </div>
        <div class="panel-body">

          <classes-info current-park = "parks.currentPark"></classes-info>

        </div>
      </div>

    </div>
  </div>

</div>